# Local .terraform directories
**/.terraform/*
**/**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash Log Files
crash.log

# Ignore override files as they are ususa;;u used to override resources locally and so are not #checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

Jenkinsfile
